{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">

            <h1 class="hm-head">Profile Edit</h1>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="profile-app">
    <div class="container mb-2">
        <form method='post' enctype="multipart/form-data">
            {{ form|crispy }}
            <button type="submit" class="btn btn-black my-2 me-2">Update Your Profile</button>
            <a href="{% url 'profile' %}" class="btn btn-black">Cancel</a>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{{ block.super }}

{% endblock %}