{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">
            <br>
            <h1 class="hm-head">My Profile</h1>
            <br>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="card">
        <div class="row">
            
            <div class="col-md-6 cart">
                <h5><b>Order History ({{ product_count }})</b></h5>
             
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">{{ item.product.name }} x{{ item.quantity }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ order.total }}€</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-md-6 summary">
                <!-- <h5><b>Your Profile</b></h5>
                <hr> -->
                <div class="card-container">
                    <div class="card">
                        <div class="card-front">
                            <!-- Display User Information -->
                            <div class="col text-center" style="background-color: #ddd;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                     alt="Avatar" class="img-fluid my-3" style="width: 80px;" />
                                <h5>{{ form.default_full_name.value }} {{ form.last_name.value }}</h5>
                                <i class="far fa-edit mb-3"></i> 
                                <a href="#" class="btn btn-outline-black rounded-0 edit-button">Edit Profile</a>
                            </div>
                            <div class="card-body p-4">
                                <h6>Profile Details</h6>
                                <hr class="mt-0 mb-4">
                             
                                <p><strong>Full Name:</strong> {{ form.default_full_name.value |default:"" }}</p>
                                <p><strong>Email:</strong> {{ form.default_email.value |default:" No email provided " }}</p>
                                <p><strong>Phone Number:</strong> {{ form.default_phone_number.value |default:"" }}</p>
                                
                            </div>
                        </div>

                        <!--Profile Form -->
                        <div class="card-back">
                            <form action="{% url 'profile' %}" method="post" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                
                                <button type="submit" class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                                <button type="button" class="btn btn-secondary rounded-0 cancel-button">Cancel</button>
                            </form>
                        </div>

                    </div> 
                </div> 
            </div>

        </div> 
    </div> 
</div>

{% endblock %}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const cardContainer = document.querySelector('.card-container');
    
       
        document.querySelector('.edit-button').addEventListener('click', function(e) {
            e.preventDefault(); 
            cardContainer.classList.toggle('flipped'); 
        });
    
       
        document.querySelector('.cancel-button').addEventListener('click', function() {
            cardContainer.classList.toggle('flipped'); 
        });
    });
    </script>
    

{% endblock %}