{% extends 'base.html' %}
{% load ratings %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h1>Wish list</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="card">
        <div class="row">
            <div class="col-md-12 wishlist">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <div class="col aligh-self-center text-right text-muted">
                                {{ wishlist|length }} items in your wish list
                            </div>
                        </div>
                    </div>
                    {% if wishlist %}
                    <ul class="list-group">
                        {% for product in wishlist %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" style="width: 80px; height: auto; margin-right: 15px;">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="img-fluid" style="width: 80px; height: auto; margin-right: 15px;">
                                {% endif %}
                                <div>
                                    <h5 class="mb-1">{{ product.name }}</h5>
                                    <p class="mb-1">{{ product.price }}€</p>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fa-solid fa-basket-shopping"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    <!-- Django Star rating  -->
                                    <div class="product-rating mt-2">
                                        {% ratings product %}
                                    </div>
                                </div>
                            </div>
                            <!-- Remove  Button -->
                            <form action="{% url 'remove_from_wishlist' product.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                <div class="col{% if s %}-12 mt-2{% endif %}">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
    
                                </div>
                            </form>
                            
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="lead mb-5">Your wish list is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black">Keep Shopping</a>
                {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %} 
{% include 'products/includes/quantity_input_script.html' %} 
{{ block.super }}
<script type="text/javascript">
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        $.post(url, {'csrfmiddlewaretoken': csrfToken})
         .done(function() {
             location.reload();
         });
    });
    
    $('.add-item').click(function(e) {
        e.preventDefault(); 
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('add_')[1];
        var url = `/bag/add/${itemId}/`; 

        $.post(url, {'csrfmiddlewaretoken': csrfToken})
         .done(function() {
             location.reload(); 
         });
         function showToast(message) {
            var toastElement = $('#toast');
            toastElement.text(message);
            toastElement.fadeIn().delay(3000).fadeOut(); 
        }
    });
</script>
{% endblock %}