{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">
            <br>
            <h1 class="hm-head">
                Checkout
            </h1>
            <br>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container mb-2">
    <div class="card">
        <div class="row">
            <!----------------------Order Summary -->
            <div class="col-md-6 cart">
                <h5><b>Order Summary ({{ product_count }})</b></h5>
                <hr>
                {% for item in product_dict.values %}
                    <div class="row border-top border-bottom py-3 main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></div>
                        <div class="col">
                            <div class="row text-muted">{{ item.product.category.name }}</div>
                            <div class="row">{{ item.product.name }}</div>
                            <p>Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col text-right">{{ item.product.price | calc_subtotal:item.quantity }}&euro;</div>
                    </div>
                {% endfor %}
                <hr>
                <div class="row text-black text-right">
                    <div class="col-7">Order Total:</div>
                    <div class="col-3">{{ total }}&euro;</div>
                </div>
            </div>

            <!----------------------Checkout Form -->
            <div class="col-md-6 summary">
                <p class="text-muted">Please fill out the form below to complete your order.</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Your Personal Details</legend>
                        <br>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                    </fieldset>

                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!---------------------- Stripe card element -->
                        <div id="card-element" class="mb-3"></div>
                        <!----------------------form errors -->
                        <div id="card-errors" role="alert" class="text-danger mb-3"></div>
                    </fieldset>
                    <!-- <button id="submit-button" class="btn btn-black rounded-0 mt-5 mb-2">
                        Complete Order
                    </button> -->
                    <div class="submit-button text-right mt-5 mb-2">                    
						<a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
						<button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>

        </div> 
    </div> 
</div> 

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}