{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">
            <br>
            <h1 class="hm-head">
                Thank you for the support.
            </h1>
            <br>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container mb-2">
    <div class="card">
        <div class="row">
            <!-- Creating order Summary -->
             <div class="col-md-12 cart">
                <h5><b>Order Summary ({{ order.lineitems.count }})</b></h5>
                <p>Please find your order information below. A confirmation email will be sent <strong>{{ order.email }}</strong></p>
                <hr>
                {% if order.lineitems.count > 0 %}
                    {% for item in order.lineitems.all %}
                    <div class="row border-top border-bottom py-3 main align-items-center">
                        <div class="col-2">
                            <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="col">
                            <div class="row text-muted">
                                {{ item.product.category.name }}
                            </div>
                            <div class="row">
                                {{ item.product.name }}
                            </div>
                            <p>QTY: {{ item.quantity }} </p>
                        </div>
                        <div class="col text-right">
                            {{ item.product.price | calc_subtotal:item.quantity }}€
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row text-black text-right">
                        <div class="col-7"><strong>Order number:</strong></div>
                        <div class="col-3">{{ order }}€</div>
                        <!-- <div class="col-7"><strong>Order Total:</strong></div>
                        <div class="col-3">{{ order.order_total }}€</div> -->
                    </div>
                    {% else %}
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <a href="{% url 'products' %}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue Shopping</a>
                    {% endif %}
             </div>
             <!----------------------Thank You Message -->
             <div class="col-md-12 text-center mt-4">
                <p>Thank you for shopping with us! We appreciate your business.</p>
                <!-- <p>If you have any questions about your order, please contact us.</p> -->
                <a href="{% url 'products' %}">&leftarrow;</a><span class="text-muted">Back to shop</span>
            </div>

        </div>
    </div>
</div>
{% endblock %}