html {
    height: 100%;
}

body {
    background: url('/media/shaving-brush.jpg') no-repeat center center fixed;
    background-size: cover;
    /* min-height: 100vh; */
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    display: flex; 
    flex-direction: column; 
}

/* Main  */
main {
    flex: 1; 
}

/* Footer  */
.foot {
    margin-top: auto; 
}

.footer {
    width: 100%; 
}