html {
    height: 100%;
    margin: 0;
}
/* ------------------------------Body*/
body {
    color: #555;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
}
.shavebody {
    background: url('/media/wpaper3.jpg') no-repeat center center fixed;
    background-size: cover;
    object-fit: contain;
    height: calc(100vh - 208px); 
    color: #555;
    display: flex;
    flex-direction: column;
}

.text-black {
    color: #555 !important;
}



/*------------------------------Main*/
main {
    flex: 1; 
}

/*------------------------------Footer*/
.foot {
    margin-top: auto; 
}

.footer {
    width: 100%; 
}

/*------------------------------home page */

#homeCarousel {
    height: 300px; 
    margin-top: 0;
    position: relative; 
}

.second-phase {
    margin-top: -170px;
    height: 700px;
    background-color: transparent ; 
}

.carousel-item {
    background-color: transparent ;
    height: 100%; 
}

.carousel-inner {
    height: 100%; 
}

btn.btn-lg.btn-primary {
    color: black !important;

}

.btn-homeshave {
    background: #555 !important;
    color: white !important;
}

.btn-homeshave:hover,
.btn-homeshave:active,
.btn-homeshave:focus {
    background: #555;
    color: gold !important;
}

.btn-homeshave:hover,
.btn-homeshave:active,
.btn-homeshave:focus {
    background: #555 !important;
    color: gold !important;
    border: 4px solid #555;
}




/* .carousel-caption {
    position: absolute; 
    bottom: 20px; 
}

.carousel-caption {
    color: goldenrod; 
}


.carousel-caption p {
    color: goldenrod;
} */

/* Products */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* carousel in products detail */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 

}

/* shopping buttons */

.shop-now-button {
    background: gold;
    color: white;
    min-width: 260px;
    border-radius: 50% !important;
}

.btn-black {
    background: #555 !important;
    color: white !important;
}

.btn-outline-black {
    background: #555;
    color: white !important; 
    border: 1px solid #555;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #555;
    color: gold !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #555 !important;
    color: gold !important;
    border: 4px solid #555;
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #555 !important;
}

.bg-black {
    background: #555!important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
