<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Razors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">DE Razors</a>
                <a href="" class="dropdown-item ">SE Razors</a>
                <a href="" class="dropdown-item">Shaving Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shaving Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Brushes</a>
                <a href="" class="dropdown-item">Shaving Soaps</a>
                <a href="" class="dropdown-item">Shaving Bowls</a>
                <a href="" class="dropdown-item">DE Razors</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link">
                About
            </a>
            <div class="nav-links">
                <a href="#" class="nav-link">FAQ</a>
                <a href="#" class="nav-link">Contact Us</a>
            </div>
        </li>
    </ul>
</div>