<div class="collapse navbar-collapse d-flex justify-content-end" id="main-nav">
    <ul class="navbar-nav w-auto ml-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">Price</a>
                <a href="{% url 'products' %}" class="dropdown-item ">Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Razors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=safety_razors" class="dropdown-item">Safety Razors</a>
                <a href="{% url 'products' %}?category=straight_razors" class="dropdown-item ">Straight Razors</a>
                <a href="{% url 'products' %}?category=straight_razors,safety_razors" class="dropdown-item">All Razors</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shaving Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=brushes" class="dropdown-item">Brushes</a>
                <a href="{% url 'products' %}?category=soaps_aftershaves" class="dropdown-item">Soaps & Aftershaves</a>
                <a href="{% url 'products' %}?category=shaving_bowls" class="dropdown-item">Shaving Bowls</a>
                <a href="{% url 'products' %}?category=blades" class="dropdown-item">Blades</a>
                <a href="{% url 'products' %}?category=blades,shaving_bowls,soaps_aftershaves,brushes" class="dropdown-item">All shaving Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link">
                About
            </a>
            <div class="nav-links">
                <a href="#" class="nav-link">FAQ</a>
                <a href="#" class="nav-link">Contact Us</a>
            </div>
        </li>
    </ul>
</div>