{%extends 'base.html'%}
{% load static %}
{%load crispy_forms_tags%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{%block content %}

<div class="container mt-5 ">
  <div class="row">

  </div>
  <div class="row align-items-center">
    <div class="col-md-7 p-0">
      <img src="{{ MEDIA_URL }}wpaper5.jpg" alt="Wallpaper" style="height: auto; width: 100%;">
       
    </div>
    <div class="col-md-5 ">

      <h1 class="text-right"> About Eco-Shave </h1>
      <hr>
      <p class="text-right">What we are about</p>

      
      <ul>
        <li><strong>Enviroment :</strong> We should love the place we live in this is one way that helps its not the solution but a small bit helps.</li>
        <li><strong>Our products: </strong> We believe in products that are long lasting and feel great when using them. </li>
        <li><strong>The value in this for us:</strong> I would say these are products that keep on giving. They give great shaves when you have setup and gone through that learning curve.</li>
      </ul>
      
      <p class="text-right">Feel free to <a href="{% url 'contact' %}" class="btn btn-outline-black rounded-0">Contact Us</a> with any questions or
        comments.</p>
    </div>


  </div>

</div>

{%endblock content%}