{%extends 'base.html'%}
{% load static %}
{%load crispy_forms_tags%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{%block content %}

<div class="container mt-5">
  <h1 class="text-center">Contact Us</h1>
  
  {% if messages %}
  <div class="alert alert-custom">
      {% for message in messages %}
          <div>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}

  <form method="POST">
      {% csrf_token %}
      
      {% for field in form %}
          <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                  <div class="text-danger">{{ error }}</div>
              {% endfor %}
          </div>
      {% endfor %}

      <button type="submit" class="btn btn-black ">Send Message</button>
  </form>

  <a href="{% url 'about' %}" >Back to About</a>
</div>

{%endblock content%}