{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">
            <br>
            <h1 class="hm-head">
                Thank you for the support we will attend to your query
            </h1>
            <br>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container mb-2">
    <div class="card">

    </div>
</div>
{% endblock %}