{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">
            <br>
            <h1 class="hm-head">
                Thank you for contacting us.
                
            </h1>
            <br>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container mb-2">
    <div class="card">
        <p class="text-center">
            We have recieved your message and will contact you using this e-mail address : {{ user.email }}.
        </p>
            <a class="btn btn-outline-black rounded-0 text-center" href="{% url 'home' %}">Home</a> 
    </div>
</div>
{% endblock %}

