{%extends 'base.html'%}
{% load static %}
{%load crispy_forms_tags%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% block page_header %}
<div class="container head-container">
    <div class="col">
        <div class="text-center">
            <br>
            <h1 class="hm-head">
             Delete FAQ
            </h1>
            <br>
        </div>
    </div>
</div>

{% endblock %}

{%block content %}

<body>
    <div class="container mt-5" >
        <p class="text-center" ><strong>Are you sure you want to delete "{{ faq.question }}"?</strong></p>

        <form method="post"class="text-center" >
            {% csrf_token %}
            <button type="submit" class="btn btn-black">Confirm Delete</button>
            <a href="{% url 'faq' %}" class="btn btn-black">Cancel</a>
        </form>

        
    </div>
    
</body>


{%endblock content%}

